streamlit
langchain_groq
langchain
langchain_core
langchain_community
dotenv
faiss-cpu
pypdf

# streamlit
# langchain_groq
# langchain
# langchain-core
# langchain_community
# python-dotenv
# faiss-cpu
# pypdf
# torch
# transformers
# huggingface-hub
